* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
    --bg-color: #011526;
    --text-color: #fcf9f9;
    --second-color: #06283d;
    --fill-color: #212529;
    --light-color: #0d6efd;
    --bg-color2: #051828;



}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5vh;

}



/* navigation bar */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    position: fixed;
    top: 0.01em;
    right: 2em;
    left: 2em;
    padding: 2em 1em 1em 1em;
    background-color: var(--bg-color2);
}

a {
    text-decoration: none;
    color: inherit;

}

.headings ul li a:hover {
    text-decoration: underline;
    text-underline-offset: .8em;
}

.headings ul {
    list-style: none;
    display: flex;
    gap: 2em;
    font-size: 1.3em;
}

.nav-btn {
    display: flex;
    gap: 1em
}

.heading-btn {
    padding: .9em 2em;
    border-radius: 4em;
    cursor: pointer;
    border: .2em solid var(--light-color);
    color: var(--light-color);
    background-color: var(--fill-color);
    font-size: .9em;
}

.heading-btn:hover {
    color: var(--text-color);
    background-color: var(--light-color)
}

/* home section  */

.home {
    padding: 4em 2em;
    margin: 5em;
    display: flex;
    justify-content: space-between;

}

.main {
    display: flex;
    flex-direction: column;

    justify-content: center;
}



.description {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.1em;
}

.description h1 {
    line-height: 3em;
}

.description h3 {
    line-height: 2em;
}

.home-btn {
    margin: 2em;
}

.myImage img {
    border-radius: 45%;
}

/* skills */
/* .softskills {
    height: 100vh;
} */

.name {
    text-align: center;
    margin: 4em;
}

#cards,
#cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    height: 10em;
    width: 10em;
    box-shadow: .1em .2em 1em var(--light-color);
    background-color: var(--fill-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

/* softskill */

.softSkills {
    /* height: 80vh; */
}




#b2 {
    box-shadow: .1em .2em 1em var(--text-color);
    transition: width 2s, height 2s
}

.box2:hover {
    transform: scale(1.1);

}

/* Project */
.projects {
    height: 60vh;
}

#cards3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#b3 {
    box-shadow: .1em .2em 1em #038de4;
}


/* Contact Me */

.contactMe {
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 38em;
    padding: 4vh;
    border-radius: 2em;
}

form h3 {
    /* color: var(--bg-color); */
    text-align: center;
    font-size: larger;
}

form input,
form textarea {
    padding: 1em;
    margin: 1.5em;
    border-radius: 2em;

}

form button {
    align-self: center;
    padding: 1em 2em;
    margin: 2em;
    border-radius: 2em;
}



/* media queries */
/* 
 @media only screen and (min-width: 992px) {} 
@media only screen and (min-width: 320px) and (max-width: 479px){ ... }

@media only screen and (min-width: 480px) and (max-width: 767px){ ... }*/


@media only screen and (max-width: 600px) {

    body {
        gap: 5em;
        max-width: 70em;
        overflow-wrap: inherit;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 30%;
        gap: 2em;
        position: static;
    }

    .headings ul {
        flex-direction: column;
        gap: .8em;
        text-align: center;
    }



    .home {
        position: relative;
        top: -8em;
        z-index: -1;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #cards,
    #cards2,
    #cards3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4em;
    }

    .projects {
        height: auto;
    }

    .contactMe {
        width: auto;
        background-color: var(--bg-color);

    }

    form {
        background-color: var(--bg-color);
        justify-content: center;
        align-items: center;
        max-width: 30em;
    }
}